<html lang="en" >
<meta charset="utf8"/>
<head>
  <!-- Angular Material style sheet -->
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="dist/css/angular-chart.css" media="screen" charset="utf-8">
<link rel="stylesheet" href="dist/css/style.css" media="screen" charset="utf-8">
<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

<script src="dist/js/chart.js"></script>
<script src="dist/js/angular-chart.js"></script>
<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="app/app.js"></script>
<script src="app/Controllers/MainController.js"></script>
<script src="app/Controllers/ChartController.js"></script>
</head>

<body ng-app="dataApp" ng-cloak>
  <div ng-show="loading" class="alert alert-info">
    Chargement...
  </div>
  <div flex ng-controller="MainController as main" ng-init="getSectors()">
      <div class="col-sm-2 col-md-2 sidebar">
        <md-subheader>Secteurs</md-subheader>
        <div class="nav nav-sidebar">
          <div ng-repeat="sector in sectors">
          <md-checkbox flex ng-model="sector.checked" ng-change="setNames(sector)" aria-label="Checkbox 2" class="groupX left"> {{ sector.name }}</md-checkbox>
          </div>
          <em>Filtre appliqué : {{names}}</em>

        </div>
        <div class="nav nav-sidebar">
          <md-subheader>Filtres</md-subheader>
          <div ng-repeat="filter in filters">
          <md-checkbox flex ng-model="filter.checked" ng-change=setFilter(filter) aria-label="Checkbox 2" class="groupX left">{{ filter.name }}</md-checkbox>
          </div>
          <em>Filtre appliqué : {{currentFilters}}</em>

        </div>
        <div class="nav nav-sidebar">
          <md-subheader>Années</md-subheader>
          <div ng-repeat="year in years">
          <md-checkbox  flex ng-model="year.checked" ng-change="setYears(year)" aria-label="Checkbox 1" class="groupX left">{{ year.year }}</md-checkbox>
          </div>
          <em>Filtre appliqué : {{currentYears}}</em>

        </div>
      </div>

      <div class="col-sm-10 col-md-10">

        <h3>Chiffre d'affaire en M€ par secteur par an</h3>
        <div class="row">

      <div ng-controller="LineCtrl" class="col-sm-5 col-md-5 graph">
        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels"
        chart-legend="true" chart-series="series" chart-click="onClick" height="300"></canvas>

      </div>
      <div ng-controller="BarCtrl" class="col-sm-5 col-md-5 graph">

        <canvas id="bar" class="chart chart-bar" height="300"
          chart-data="data" chart-labels="labels" chart-series="series" chart-legend="true">
        </canvas>

      </div>
    </div>
    <h3>Pourcentage du chiffre d'affaire par secteur</h3>
    <div class="row">

      <div ng-controller="DoughnutCtrl" class="col-sm-5 col-md-5 graph">
        <canvas id="doughnut" class="chart chart-doughnut"
          chart-data="data" chart-labels="labels" height="300" chart-legend="true">
        </canvas>
      </div>

      <div ng-controller="PolarAreaCtrl" class="col-sm-5 col-md-5 graph">
        <canvas id="polar-area" class="chart chart-polar-area"
          chart-data="data" chart-labels="labels" height="300" chart-legend="true">
        </canvas>

      </div>
    </div>
    </div>
</div>
</body>
</html>
